
<%= flash[:error] if flash[:error] %>
<%= form_for @nightout do  |f|  %>

  <p><%= f.text_field :total_amount, :placeholder => "Total price" %></p>

  <p><%= f.text_field :headline, :placeholder => "Headline" %><p/>

  <p><%= f.file_field :receipt %></p>

  <p/><%= f.text_field :caption1, :placeholder => "Caption" %></p>

  <p><%= f.file_field :receipt %></p>

  <p/><%= f.text_field :description, :placeholder => "Optional caption" %></p>

  <p><%= f.file_field :receipt %></p>

  <p/><%= f.text_field :description, :placeholder => "Optional caption" %></p>

  <p><%= f.file_field :receipt %></p>

  <p/><%= f.text_field :description, :placeholder => "Optional caption" %></p>

  <p><%= f.file_field :receipt %></p>

  <p/><%= f.text_field :description, :placeholder => "Optional caption" %></p>

  <p><%= f.file_field :receipt %></p>

  <p/><%= f.text_field :description, :placeholder => "Optional caption" %></p>

  <%= f.submit %>

<% end %>


